<ion-content  class="background">
  <ion-item button class="LoginB" (click)="goBack()" class="BackB">
    <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
  </ion-item>
  


  <ion-item
    lines="full" 
    >
  
    <br>
    ETHICS FOR MOUNTAINEERING 
    <br><br>
    The information presented this page is taken and translated from the application SALVAMONT ROMANIA made by Vodafone.
    <br><br>
    Variant adapted from "Meine Berge" - My mountain, by the Tyrolean LUIS TRENKER (1892-1990, famous mountain guide, ecologist, writer).
    <br><br>
1. never go on a trip for which you are not prepared: always choose a feasible itinerary, always keep in mind that in the mountains there are dangers that with foresight and wisdom you can avoid;
<br><br>
2. to prepare each excursion thoroughly, with thought and deed, regardless of whether you climb alone, with friends or with a guide; the soul equipment must be as well prepared as your material equipment; know how to behave with the people you will meet on the mountain, instilling confidence in them and seeking to understand them.
<br><br>
3. don't forget when you're on the mountain the education and good upbringing you received from your mother and in school; to walk with skis and poles so as not to threaten your neighbor's eyes or clothes; if you meet a lonely traveler on the road, greet him or return his greeting; give up slum habits, that's what the author meant when he said: "Auf der Berger ist die Freiheit." (in the mountains there is freedom).
<br><br>
4. not to pollute the places you pass through and not to pollute the beauties of nature; don't forget that the one who comes after you also wants to drink from the clear spring that you are just now disturbing; in general, don't yell at the mountain because neither people nor animals like it, and it's not good for you either.
<br><br>
5. if you are a guide or leader, do not show your superiority over those weaker than you; the possibilities of the weakest to be the unit of measure of the excursion; don't forget that leaving a man on the mountain can be a crime.
<br><br>
6. respect the cottage as you should respect your own home; not to have in the cabin the pretensions you have in a luxury hotel; do not lower the cottage to the level of a pub; choose your sleeping-place carefully, but give it up as soon as you see that others more tired or weaker than yourself need it.
<br><br>
7. not to steal the peace and pleasure of others, or the flowers that nature has left for all; don't cut down or deface trees, just because you don't know how to use your power any other way.
<br><br>
8. don't lie, don't brag, don't exaggerate; never cursed the weather, never cursed; respect the beliefs and customs of the mountain people and do not start making fun of them; don't forget: you are their guest, like the mountains.
<br><br>
9. keep the honor of being a tourist unsullied and be proud that you are a part of this world; think respectfully of those who laid the foundation stone of tourism.
<br><br>
10. don't desecrate the mountains through the mania of records; understand their soul.
<br><br>
  </ion-item>