<ion-content  class="background">
  <ion-item button class="LoginB" (click)="goBack()" class="BackB">
    <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
  </ion-item>
  


  <ion-item
    lines="full" 
    >
  
    <br>
    MEETING ANIMALS
    <br><br>
    The information presented this page is taken and translated from the application SALVAMONT ROMANIA made by Vodafone.
    <br><br>
    Never leave the marked path. Wild animals avoid areas frequented by humans. Thus, you minimize the risk of meeting them;
    <br><br>
Don't go up the mountain alone. A simple conversation with your partner is enough to keep wild animals at bay. You can also shout from time to time or take a whistle with you (such a whistle is usually found on the chest strap of the backpack);
<br><br>
Keep pet dogs on a leash. They can stir up wild animals and send them towards you;
<br><br>
Carry and keep pepper spray and/or ultrasonic wildlife repeller handy. These are very compact and can be of real use, but be careful when spraying so that the wind does not turn the pepper spray towards you;
<br><br>
Avoid taking walks late in the evening or at night. Animals are much more active during this period;
<br><br>
If you are going to tent camp, don't do it in isolated places. Make sure you set up the tent in an organized camping area and don't keep any food in it (wild animals can even detect the smell of unopened cans). You can tie the feed somewhere high up, away from the tent. Do not eat in or near the tent and wash your hands after eating to remove any traces of food smell;
<br><br>
Before planning a hike, call the Salvamont National Dispatch, let them know which area you want to go to, and the Salvamont Romania operators will put you in touch with the teams in your area of ​​interest and you will get correct information about the dangers in the area and the possibility of meeting with animals;
<br><br>
If you meet a bear cub, do not respond to its curiosity and desire to play and approach you, change direction and try to move away from it, in 99% of cases the bear is watching it hidden nearby and will not hesitate to attacks if it sees you approach it;
<br><br>
If a bear shows signs that it wants to follow you, gradually abandon clothes, food that will make it curious to analyze them and that will delay or stop it from following;
<br><br>
In most cases the kennel dogs attack to impress you and get something to eat. Don't run away from them, try to protect your legs with your backpack, bike and give them something to eat;
<br><br>
If you see snakes try to avoid them and under no circumstances try to chase or catch them.
<br><br>
  </ion-item>