
<ion-content [fullscreen]="true" class="mainContainer">

  <ion-item button class="LoginB" (click)="goBack()" class="BackB">
    <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
  </ion-item>

  <ion-item id="title" class="title">
    {{name}}
    <br>
    made by : {{creator}}
  </ion-item>


  <div class="container">
    <capacitor-google-map #map id="map" ></capacitor-google-map>
    </div>


    <ion-item id="decription" class="title">
      {{desc}}
      
    </ion-item>

</ion-content>
