
<ion-content  class="background">
  <ion-item button class="LoginB" (click)="goBack()" class="BackB">
    <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
  </ion-item>
  <br><br><br>
<ion-list class="bg-transparent" >
 
  
  <ion-item 
    lines="full" 
    >
      <ion-label>
        USER ACCOUNT : {{nameU}}
        
        <br><br>

        E-MAIL : {{emailU}}

        <br><br>

        ACCOUNT TYPE : {{typeU}}
        
      </ion-label>
    
   
  </ion-item>


  <ion-item 
  details 
  button
  lines="full"
  class="smallB"
  *ngIf="ChangeTrrigerS"
  (click)="setTrigger()"
  > 
    <ion-label>CHANGE PASSWORD</ion-label>

  </ion-item>

  <div [hidden]=ChangeTrrigerS>
  <ion-item>
    <ion-input 
      maxlength="20" 
      label-placement="floating" 
      label="Old password" 
      type="password" 
      placeholder="password" 
      
      #ionInputPass
      ></ion-input>
  </ion-item>
  </div>


  <div [hidden]=ChangeTrrigerS>
  <ion-item>
    <ion-input 
      maxlength="20" 
      label-placement="floating" 
      label="New password" 
      type="password" 
      placeholder="password" 
      
      #ionInputPass2
      ></ion-input>
  </ion-item>
  </div>


  <ion-item 
  details 
  button
  lines="full"
  class="smallB"
  *ngIf="ChangeTrriger"
  (click)="setPass()"
  
  > 
    <ion-label>Save</ion-label>

  </ion-item>
  
</ion-list> 

</ion-content>