

<ion-content [fullscreen]="true" padding class="background">

  <div class="space">
  </div>

      
  <ion-list class="bg-transparent">
  <ion-item class="field">
    <ion-input 
      maxlength="20" 
      label-placement="floating" 
      label="username" 
      placeholder="username" 
      [clearOnEdit]="true"
      #ionInputUsername
      ></ion-input>
  </ion-item>
  <ion-item class="field">
    <ion-input 
      maxlength="20" 
      label-placement="floating" 
      label="password" 
      type="password" 
      placeholder="password" 
      [clearOnEdit]="true"
      #ionInputPass
      ></ion-input>
  </ion-item>


  </ion-list>
    <br><br><br><br><br>

    <ion-item 
      (click)="signIN()"
      button  
      class="loginB"
      >
       Sign-In
    </ion-item>
 
  
</ion-content>
