

<ion-content [fullscreen]="true" padding class="background">



      
  <div class="pageContainer">
    <div class="UserName">
    <ion-item>
      <ion-input 
        shape="round"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        
      ></ion-input>
    </ion-item>
    </div>
  <br>
  <div class="id">
    <ion-item>
      <ion-input 
        shape="round"
        fill="solid"
        label="Password"
        labelPlacement="floating"
        
      ></ion-input>
    </ion-item>

    </div>




    <br><br><br><br><br>

    <ion-button shape="round" class="LogInButton">Sing-In</ion-button>
 
  </div>
</ion-content>
