.background{
    --background: url(../../assets/img/LogInBackground.png) center /auto 100%   no-repeat ;
   
    top: 0 !important;
	left: 0 !important;
    
}

.space{
    padding-top: 50%;
}
.bg-transparent {
    
    background: transparent;
  }
.field{
    --background: #00000086;
      --color: #fff;
      padding-bottom: 10px;
      padding-left: 10%;
      padding-right: 10%;
      --border-color: #ffffff8b;
      --border-width: 1px;
      --min-height: 60px;
      --border-radius: 20px;
    
    
      --detail-icon-color: white;
      --detail-icon-opacity: 1;
      --detail-icon-font-size: 20px;
  
  
  }
  .loginB{
    --background: #0000001a;
      --color: #fff;
      padding-bottom: 10px;
      padding-left: 30%;
      padding-right: 30%;
      --border-color: #fff;
      --border-width: 2px;
      --min-height: 40px;
      --border-radius: 20px;
    
    
      --detail-icon-color: white;
      --detail-icon-opacity: 1;
      --detail-icon-font-size: 20px;
  }