<ion-content  class="background">
    <ion-item button class="LoginB" (click)="goBack()" class="BackB">
      <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
    </ion-item>
    <br><br><br>

    


    <ion-item
      button 
      detail 
      lines="full" 
      *ngIf="isAdmin"
      (click)="goUserList()"
      > USER ACCOUNTS</ion-item>

    <ion-item
      button 
      detail 
      lines="full" 
      *ngIf="isAccount"
      (click)="goPersonalTrails()"
      > PERSONAL TRAILS </ion-item>    

      <ion-item
      button 
      detail 
      lines="full" 
      *ngIf="isAccount"
      (click)="goAddtrails()"
      > ADD TRAILS </ion-item> 

    <ion-item
      button 
      detail 
      lines="full" 
      (click)="goTrails()"> TRAILS</ion-item>
   
      <ion-item
      button 
      detail 
      lines="full" 
      (click)="goMap()"> MAP </ion-item>

      <ion-item
      button 
      detail 
      lines="full" 
      (click)="goRecommendations()"> RECOMMENDATIONS </ion-item>

      <ion-item
      button 
      detail 
      lines="full" 
      (click)="goEthics()"> MOUNTAIN ETHIC CODE </ion-item>

      <ion-item
      button 
      detail 
      lines="full" 
      (click)="goRecommendations()"> FOOD AND HYDRATION </ion-item>

      <ion-item
      button 
      detail 
      lines="full" 
      (click)="goRecommendations()"> MEETING ANIMALS</ion-item>

      <ion-item
      button 
      detail 
      lines="full" 
      (click)="goRecommendations()"> CONTACT CREATOR </ion-item>








      
      
</ion-content>