<ion-content  class="background">
  <ion-item button class="LoginB" (click)="goBack()" class="BackB">
    <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
  </ion-item>
 

  


  <ion-item
    
    lines="full" 
    >
    <br>
    RECOMMENDATIONS
    <br><br>
    The information presented this page is taken and translated from the application SALVAMONT ROMANIA made by Vodafone.
    <br><br>
    Choose the routes according to your experience and training;
    <br><br>
    Do not go hiking if you are tired or do not have a doctor's approval in case you suffer from certain diseases;
    Before leaving for the trip, find out about the proposed itinerary, the degree of difficulty of the route, the condition of the markings, accessibility, dangerous sections, the weather and the operating schedule of the cable transport means;
    <br><br>
Ask for information from mountain rescuers, cabin keepers and foresters regarding the condition of the route (paths, bridges, markings), refuges and rescue points;
<br><br>
Find out about the weather forecast for the next 24 hours, avoid traveling in bad weather and calculate the time required to cover the route according to your physical fitness;
<br><br>
Set out on the mountain with appropriate equipment, both for the weather conditions and for the specifics of the route and activities. Take a change of clothes, wind and rain protection and thicker clothes in case the temperature drops. Do not forget that the weather in the mountains is unpredictable, and the weather conditions can change radically in a very short time;
<br><br>
Don't forget to pack your flashlight, compass, map, UV protection sunglasses, UV protection cream, pepper spray and/or ultrasonic generator, penknife, first aid kit and trash bag;
<br><br>
Do not load the backpack beyond reasonable limits;
<br><br>
Avoid going on the road alone, preferably in a group of at least three people, one of whom knows the area;
<br><br>
Inform the lodger/family/friends of the route you wish to follow and register in the Tourist Traffic Register;
<br><br>
Choose the routes according to the physical and mental preparation of the weakest in the group;
<br><br>
Use only marked routes, do not deviate from the route, avoid shortcuts, follow and respect the markings and signs on the route;
<br><br>
The recommended pace of the tourist is regular and infrequent, hurried walking leads to premature exhaustion of forces;
<br><br>
At the start, walk at a slower pace, gradually reaching normal walking speed;
<br><br>
When climbing, step on the whole sole, with the knees slightly bent; when descending, also step on the whole sole, but with the knees more pushed forward and the bust bent;
<br><br>
The length of the step should be proportional to the waist and related to the inclination of the slope;
<br><br>
Breathing should be quiet, adapted to the speed of travel, and the pace of walking should be variable, depending on the slope of the terrain;
<br><br>
On the grass slopes, slightly inclined (25 degrees) and very inclined slopes (over 40 degrees), the ascent is done directly, and between these inclinations, the ascent is done in serpentines;
<br><br>
The less initiated will be placed in the column immediately after the leader of the group;
after the first 20 minutes of walking there will be a break; the first longer break (20-30 minutes) will be taken after 2 hours of walking;
<br><br>
While walking it is recommended to speak as little as possible and in no case loudly;
<br><br>
When you're on mountain paths, don't forget to keep in mind some basic rules regarding walking, breathing, and nutrition;
<br><br>
Take a little more fluids with you than you normally need to stay hydrated. Choose water, teas or natural juices, avoid carbonated drinks, and during the winter take warm liquids (to keep their temperature as long as possible, put them in a thermos);
<br><br>
Do not consume alcoholic beverages before and during the trip; they weaken the body, reduce the ability to exercise and in winter promote frostbite;
<br><br>
It is good to drink water only at the end of the breaks, before starting again;
<br><br>
Avoid smoking during the trip;
<br><br>
Pay full attention to food on the mountain, especially in winter: fatty and sugary substances, lemonades, hot and well-sweetened drinks are recommended;
<br><br>
During longer breaks you can eat sweets (sugar, glucose, honey, etc.);
<br><br>
In case of difficulties on the route or worsening of the weather, retreat to the nearest cabin;
<br><br>
In case of storm or rain with electrical discharges, leave the summit; do not shelter near isolated, tall trees or rocks; don't run;
<br><br>
In case of fog, heavy rain, blizzard, seek shelter urgently; those who go on research should not do so at a greater distance than the distance at which the human voice is heard or the light of the flashlight is seen; by no means leave behind the weary;
<br>
<br>

  
  </ion-item>