<ion-content  class="background">
  <ion-item button class="LoginB" (click)="goBack()" class="BackB">
    <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
  </ion-item>
  


  <ion-item
    lines="full" 
    >
  
    <br>
    This application was realized by Stefoni Alex-Daniel as a technical project for the Bachelor thesis.
    <br>
    The developer contact information are: 
    <br>
    email : alex.stefoni001@gmail.com
    <br>
    tel   : (+40) 764 368 552 


    <br>
  </ion-item>