<ion-content  class="background">
  <ion-item button class="LoginB" (click)="goBack()" class="BackB">
    <ion-icon size="large" name="log-out-outline" aria-hidden="true" ></ion-icon>
  </ion-item>
  


  <ion-item
    lines="full" 
    >
  
    <br>
    FOOD AND HYDRATION
    <br><br>
    The information presented this page is taken and translated from the application SALVAMONT ROMANIA made by Vodafone.
    <br><br>
    The amount of food will be calculated according to the length and difficulty of the route. Foods that do not spoil at high temperatures, with a low salt content (so as not to cause thirst) are preferable;
    <br><br>
The food consumed on the mountain during a day's shift must be thought of in the context of the morning meal. Ideally, breakfast would provide the energy needed for the first part of the day, but without creating a feeling of loading and satiety. It is contraindicated to go hiking immediately after the meal, in areas that require sustained effort;
<br><br>
The main meal on the mountain will preferably be consumed after a sustained effort (but not immediately), and hyper-energetic foods will be consumed during the effort (energy bars, chocolate, candied fruit, figs, dates, etc.);
<br><br>
The amount of liquid will be calculated according to the needs of each and the ambient temperature, to which a reserve will be added, but not less than 2 L;
<br><br>
Alcoholic and carbonated drinks will be avoided. Hydrate properly in winter too, even if the temperature outside is low. Through perspiration resulting from wearing thick clothes, a significant amount of fluids is lost, which must be replaced;
<br><br>
During the cold season, it is preferable to replace at least part of the hydration fluids with warm drinks, kept in a thermos. It must be taken into account that for hydration with the water resulting from melting snow, an additional intake of mineral salts is necessary, because in this case they are missing;
<br><br>
Find out about the water sources on the route (springs, huts).
<br><br>
  </ion-item>